<html>
<head>
<title>Vite</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (Bootstrap's JavaScript plugins) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="css/component.css" rel="stylesheet" type="text/css"  />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best exclusive events around me." />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<!-- start-smoth-scrolling-->
		<script type="text/javascript" src="assets/move-top.js"></script>
		<script type="text/javascript" src="assets/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body class="cbp-spmenu-push">
<div id="home" class="banner">
	 <div class="container">
		 <div class="header">
			 <div class="logo">
				 <a href="#"><%= image_tag "Vite-UI-1.png" %></a>
			 </div>	
			 <div class="top-nav">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
					<h3>Menu</h3>
					<a class="scroll" href="#home" class="active">Home</a>
					<a class="scroll" href="#feature">Features</a>
					<!-- <a class="scroll" href="#screenshots">Screen Shots</a>
					<a class="scroll" href="#team">Team</a> -->
				</nav>
				<div class="main buttonset">	
						<!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
						<button id="showRightPush"><%= image_tag "menu-icon.png" %></button>
						<!--<span class="menu"></span>-->
				</div>
				<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
				<script src="js/classie.js"></script>
				<script>
				var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
				showRightPush = document.getElementById( 'showRightPush' ),
				body = document.body;

				showRightPush.onclick = function() {
					classie.toggle( this, 'active' );
					classie.toggle( body, 'cbp-spmenu-push-toleft' );
					classie.toggle( menuRight, 'cbp-spmenu-open' );
					disableOther( 'showRightPush' );
				};

				function disableOther( button ) {
					if( button !== 'showRightPush' ) {
						classie.toggle( showRightPush, 'disabled' );
					}
				}
				// jQuery( document ).ready(function($) {
    // 				$('#bgvid').click(function() {
    //     			this.paused ? this.play() : this.pause();
    // 				});
				// });
			 </script>
	     </div>
			<div class="clearfix"></div>
		 </div>

		  <%= video_tag "promo.mp4", controls: false, autoplay:
			true, muted: false, loop: true, id: "bgvid", type: "video/mp4"%>
			<div class="down">
		 		<a class="scroll" href="#feature"><%= image_tag "scroll.png" %></a>
			 </div>
	</div>
</div>
<div class="banner2">

		 <div class="banner-info">
		 
			 <h1>INVITE YOURSELF</h1>
			 <p>Vite is the ultimate exclusive experience for local events. see what's going on nearby and check out all of the events happening around you.</p>
			 <a href="https://itunes.apple.com/us/app/vite-exclusive-events/id1087246453?mt=8">
			 	<div class="text-center" style="color:#fff;">BETA TESTING</div>
			 	<%= image_tag "app.png" %></a><br><br><br>
		 </div>

</div>
<!--features-->
<div id="feature" class="features">
	 <div class="container">
		 <div class="feature-info text-center">
		 <h3>APP FEATURES</h3>
		 <p>Vite is short for invitation. Create events or swipe through events created by others. Once you receive a Vite from an event creator you will be given the details of the event.</p>
		 </div>
		 <div class="feature-grids">
			 <div class="col-md-6 feature-sec">
				 <div class="feature-grid grid1">
					 <h3>Create Event</h3>
					 <p>Creating an event is simple. Create a fun exclusive event, or create an event open to the public. You control your Vites.</p>
				 </div>
				 
			 </div>
			 <div class="col-md-6 feature-sec">
				 <div class="feature-grid grid3">
					 <h3>Vites</h3>
					 <p>Swipe right on events you are interested in attending. If the event creator accepts, you will receive a Vite with details of the event. Once you have a Vite, you will be able to message the event creator and learn more about the event.</p>
				 </div>
				 <!-- <div class="feature-grid grid4">
					 <h3>Colors Customization</h3>
					 <p>Lorem ipsum dolor sit amet consectetur adictum 
						piscing elit fusce sit amet inerdum neque ultra 
						icies scelerisque non tempor neque dolor set 
						egestas at.</p>
				 </div> -->
			 </div>
			 <div class="clearfix"></div>
		 </div>
	</div>
</div>

<div class="Contact">
	 <div class="container">
		 <h3>Contact us</h3>
		 <span>Email: ViteExclusiveEvents@gmail.com</span>
	 </div>
</div>
<!--footer-->
<div class="footer">
	 <div class="container">
		 <p>Copyright © 2016 Vite. All rights reserved </a></p>
	 </div>
</div>

</body>
</html>